In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv("Chris_Project1.csv")
data

   Airline   Status  Los Angeles  Phoenix  San Diego  San Francisco  Seattle
0   Alaska  on time          497      221        212            503     1841
1   Alaska  delayed           62       12         20            102      305
2  AM West  on time          694     4840        383            320      201
3  AM West  delayed          117      415         65            129       61

In [2]:
data['Totals'] = (data['Los Angeles'] + data['Phoenix'] + data['San Diego'] + data['San Francisco'] + data['Seattle'])
data

,Airline,Status,Los Angeles,Phoenix,San Diego,San Francisco,Seattle,Totals
0,Alaska,on time,497,221,212,503,1841,3274
1,Alaska,delayed,62,12,20,102,305,501
2,AM West,on time,694,4840,383,320,201,6438
3,AM West,delayed,117,415,65,129,61,787

In [14]:
Totals= (data['Totals'][0] + data['Totals'][1])
DelayPercent= (data['Totals'][1] / data['Totals'][0]*100) 
print ('Total # flights Alaska airlines had = {}'.format(Totals))
print ('Alaska airline had a delay percentage of = {}%'.format(DelayPercent))

Total # flights Alaska airlines had = 3775
Alaska airline had a delay percentage of = 15.302382406841783%

In [13]:
Totals= (data['Totals'][2] + data['Totals'][3])
DelayPercent= (data['Totals'][3] / data['Totals'][2]*100) 
print ('Total # flights AM West had = {}'.format(Totals))
print ('AM West had a delay percentage of = {}%'.format(DelayPercent))

Total # flights AM West had = 7225
AM West had a delay percentage of = 12.224293258776017

In [ ]:
Alaka airline had a higher percenage of delay with 15.30% compared to AM West with 12.22%.
Also AM West had more total flights 7225 compared to Alaska airlines 3775.
Which speaks to the Efficiency of AM West also having less percentage of delays.